

header,
main,
footer {
  padding-left: 250px;
}

@media only screen and (max-width : 992px) {

  header,
  main,
  footer {
    padding-left: 0;
  }
}


div.typewriter {
  padding-top: 10px;
}
a.typewriter:hover {
  background-color: white;
}
.typewriter h1 {
  margin-bottom: 0;
  color: #000000;
  width: 120px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin-left: 18px;
  margin-top: 15px;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 1.5s steps(6, end),
    blink-caret 1.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 120px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  10% {
    border-color: black;
    border-right-width: 3px;
  }
}


/* Nav styling */

.sidenav {
  width: 250px;
  padding-bottom: 0px;
  height: 100%;
}
nav h4 {
  color: #000;
  letter-spacing: .1em;
  margin-top: 0;
  margin-left: 17px;
  font-size: 2.2rem
}
.active-li {
  background-color: #ff9800;
}
nav {
  background-color: #fff;
  color: #000;
  height: 0px;
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 2px 1px -2px rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.2) */
  box-shadow: none;
}

#git_username_submit button {
  margin-top: 5px;
}
nav h1 {
  font-size: 4.0rem;
}

/* Code block styling */
div.code-block {
  background-color: #f4f4f47d;

  border: 1px solid lightgray;
  min-height: 100px;
  padding: 15px;
}
.code-block p {
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}


/* Form color */

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #039be5!important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #039be5!important;
    box-shadow: 0 1px 0 0 #039be5!important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #039be5;
    box-shadow: 0 1px 0 0 #039be5;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #039be5;
  }


  /* Github avatar style */

  img.gituser {
    max-width: 25px;
  }
  div.gituser {
    display:block;
  }


  /* Sub menu */

  .submenu li > a {
    font-size: 12px;
    margin-top: 0;
    height: 30px!important;
    line-height: 30px!important;
  }

  @media (min-width: 993px) {
    .container {
      width: 78%;
    }
  }


  /* iframe styling */

   iframe {
    width: 100%;
    height: 100vh;
  } 


  /* Menu icon */
  a.sidenav-trigger i {
    color: black;
  }

  /* Resource page */

  ul.resource {
    list-style-type: disc;
  }
  ul.resource a {
    font-size: 20px;
  }
  hr.resource {
    border: 0;
    border-top: 1px solid lightgray;
    margin-bottom: -5px;
    margin-top: 40px;
  }


  /* Git hub users page */

  div.nav-wrapper > div {
    background-color: teal;
  }
  img.repo {
    max-height: 30px;
    margin-right: 15px;
  }
  span.repo {
    display: inline;
    margin: 0;
  }
  div.repocard {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    overflow-wrap: anywhere;
    overflow-x: auto;
  }
  p.repo {
    font-size: 16px;
  }
  .collapsible-header {
    align-items: center;
  }
  .collapsible-header:hover {
    background-color: #f1f1f1;
  }
  span.repo {
    color: #7d7d7d;
    font-size: 12px;
  }


  /* Github repos page */

  .repos {
    max-width: 450px;
    width: 100%;
    padding: 10px;
    box-shadow: .5px .5px 1px .5px rgba(0,0,0,0.4);
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
  }
  .repos:hover {
    background-color: #f1f1f1;
  }

  a.repolink {
    display: flex;
    align-items: center;
  }
 
  .repo-owner {
    color: black;
    margin-right: 5px;
  }
  .repo-time {
    color: #7d7d7d;
    font-size: 11px;
  }
  .repo-name {
    /* margin-right: 5px; */
  }
  .repo-time {
    align-items: bottom;
  }
  img.gitimg {
    max-width: 35px;
    margin-right: 10px;
  }
  p.time {
    font-size: 11px;
  }

  /* Container */

  .container {
    width: 85%;
  }
  .section {
    max-width: 700px;
  }

  
