<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="static/fonts/stylesheet.css">
  <link rel="stylesheet" href="static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %} {% endblock %}</title>
</head>

<header>

  <nav>
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <a class="typewriter" href="/">
        <div class="typewriter">
          <h1>r13</h1>
        </div>
          <h4>resource</h4>
      </a>
      <li><a class="waves-effect waves-orange main-link" href="/github-repos">repos</a></li>

      <!-- lectures menu -->
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-orange" data-li-parent="yes">lectures<i class="material-icons">chevron_right</i></a>
            <div class="collapsible-body">
              <ul class="submenu">
                  {% for lecture in lectures %}
                  
                  <li><a class="waves-effect waves-orange lecture-link" id="{{lecture.id}}" data-li-parent="no" data-lecture-id="{{ lecture.id }}" data-lecture-url="{{lecture.url}}">{{ lecture.title }}</a></li>
                  {% endfor %}
              </ul>
            </div>
          </li>
        </ul>
      </li>

      <!-- exercises menu -->
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-orange" data-li-parent="yes">exercises<i class="material-icons">chevron_right</i></a>
            <div class="collapsible-body">
              <ul class="submenu">
                  {% for exercise in exercises %}
                  <li><a class="waves-effect waves-orange exercise-link" id="{{exercise.id}}" data-li-parent="no" data-exercise-url="{{ exercise.url }}" data-exercise-id="{{ exercise.id }}">{{ exercise.title }}</a></li>
                  {% endfor %}
              </ul>
            </div>
          </li>
        </ul>
      </li>

      <!-- extras menu-->
      <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header waves-effect waves-orange" data-li-parent="yes">extras<i class="material-icons">chevron_right</i></a>
              <div class="collapsible-body">
                <ul class="submenu">
                    <li><a class="waves-effect waves-orange" href="/add-extra">* add new</a></li>
                    {% for extra in extras %}
                    <li><a class="waves-effect waves-orange" id="{{extra.id}}" target="_blank" href="{{ extra.url }}">{{ extra.title }}</a></li>
                    {% endfor %}
                </ul>
              </div>
            </li>
          </ul>
        </li>
    </ul>

    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

  </nav>
</header>

<body>
  <main id="main">
    {% block body %}


    {% endblock %}
  </main>


  <!-- Compiled and minified JavaScript + Jquery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/static/script.js"></script>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/af5357cb32.js"></script>

</body>

</html>