{% extends 'base.html' %}

{% block title %} r13 resource | github repos {% endblock %}

{% block body %}

<div class="container">
  <h2>recent repos</h2>
  <p class="time"><i>Last updated {{ timestamp.time }}</i></p>

  {% for repo in repos %}
  <div class="repos">
    <a target="_blank" href="{{ repo.repo_url }}" class="repolink"><img class="gitimg" src="{{ repo.user.owner_avatar }}"">
      <div class="singlerepo">
      <span class=" repo-name">{{ repo.repo_name }}</span>
      <span class="repo-owner">| {{ repo.user.owner_name }}</span><br>
      <span class="repo-time">last updated: {{ repo.repo_push }} </span>
      <span class="repo-time">"{{ repo.repo_commit }}"</span>
  </div>
  </a> 

</div>

{% endfor %}

</div>

{% endblock %}