{% extends 'base.html' %}

{% block title %} r13 | users {% endblock %}

{% block body %}

<div class="container">

  <h2>users</h2>
  <p class="time"><i>Last updated {{ timestamp.time }}</i></p>

  <div class="row">
    {% for user in gitusers|sort(attribute="owner_name") %}
    <!-- <a target="_blank" href="{{ user.owner_url }}?tab=repositories"> -->
    <div class="col s12 m6 l6">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <img class="repo" src="{{ user.owner_avatar }}">
            <p class="repo">{{ user.owner_name }}</p>
          </div>

          <div class="collapsible-body">

            {% for repo in user.repos|sort(reverse=True,attribute="repo_push") %}
            <a target="_blank" href="https://www.github.com/{{ repo.repo_name }}">
              <p class="repo">
                {{ repo.repo_name }}
            </a><span class="repo"> {{ repo.repo_push }} | "{{ repo.repo_commit }}"</span></p>
            {% endfor %}

          </div>
        </li>
      </ul>
    </div>
    </a>

    {% endfor %}
  </div>




  <hr class="resource">
  <h5>add Github account</h5>

  <div class="row">
    <form action="/submit-user" method="POST" id="submit-user" class="col s12 git-submit">
      <div class="row">
        <div class="input-field col">
          <i class="fab fa-github prefix"></i>
          <input required="" name="git_username" id="git_username" type="text">
          <label for="git_username">username</label>
        </div>
        <div class="input-field col">
          <button class="btn waves-effect waves-light orange" type="submit" name="action">Submit</button>

        </div>
      </div>
    </form>
  </div>

</div>


{% endblock %}









<!-- <div class="container">
  <h2>github users</h2>


  <div class="row">
    {% for user in gitusers %}
    <a target="_blank" href="{{ user.owner_url }}?tab=repositories">
      <div class="col s12 m6 l3">
        <div class="repocard card white darken-1">
          <div style="display: flex; align-items: center;" class="card-content black-text">
            <img class="repo" src="{{ user.owner_avatar }}">
            <p class="repo">{{ user.owner_name }}</p>
          </div>
        </div>
      </div>
    </a>
    {% for repo in gitrepos.owner_id %}
    <p>{{ repo.repo_name }}</p>
    {% endfor %}
    {% endfor %}
  </div>

  {% for repo in gitrepos %}
  <p>{{ repo.repo_name }}</p>
  {% endfor %}


  <hr class="resource">
  <h5>Add Github account</h5>

  <div class="row">
    <form action="/submit-user" method="POST" id="submit-user" class="col s12">
      <div class="row">
        <div class="input-field col">
          <i class="fab fa-github prefix"></i>
          <input name="git_username" id="git_username" type="text" class="validate">
          <label for="git_username">username</label>
        </div>
        <div class="input-field col">
          <button class="btn waves-effect waves-light orange" type="submit" name="action">Submit</button>

        </div>
      </div>
    </form>
  </div>

</div>

 -->