{% extends 'base.html' %}

{% block title %} r13 resource {% endblock %}

{% block body %}

<div class="container">
  <h2>welcome</h2>
  <p>Here you can see all lectures, exercises, and GitHub repositories from cohort and instructors.</p>


  <div class="section">

    <!-- <h5><i>site info</i></h5> -->

    <p><i>Built with Flask on a PostgreSQL database and deployed via 
      <a target="_blank" href="https://dashboard.heroku.com/apps">Heroku</a>. GitHub data pulled from
      the <a target="_blank" href="https://developer.github.com/v3/">GitHub API</a>. Lecture and exercise 
      data pulled from <a target="_blank" href="http://curric.rithmschool.com/r13/lectures/">Rithm website</a>
      using <a target="_blank" href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">Beautiful Soup</a>. 
      CSS framework is <a target="_blank" href="https://materializecss.com/">Materialize</a>. 
      Source available <a target="_blank" href="https://github.com/kayjitsu/r13-resource">here</a>.
    </i></p>
  </div>
</div>

{% endblock %}